# Git Ignore

# Ignoriere den Ordner 'node_modules'
node_modules/

# Ignoriere den Ordner 'dist'
dist/

# Ignoriere den Ordner 'logs'
logs/

# Ignoriere den Ordner 'node_modules'
.idea/

# Ignoriere die Package.json, diese muss erstellt werden durch die Konsole
package.json

# Ignoriere die .env Datei
.env

# Ignoriere alle .DS_Store Dateien
*.DS_Store
